.nav-c{
    background-color: rgba(168, 220, 203, 0.41);
    color:white;
}
.search{
    margin-top: 2px;
    width: 200px;
    background-color: rgb(77, 225, 174);
    border-radius: 10px;
    padding: 2px;
}