.nav-c{
    background-color: rgba(168, 220, 203, 0.41);
    color:white;
}
a:hover{
    background-color: #8aa67c;
    border-radius: 10px;
}
.search{
    margin-top: 2px;
    width: 200px;
    background-color: rgb(77, 225, 174);
    border-radius: 10px;
    padding: 2px;
}
.buyForm{
    background-color: rgba(255, 255, 255, 0.55);
    width:400px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 4px white;
    box-shadow: 4px 4px 4px 4px rgb(181, 189, 179);
    color: #151111;
}
.btnLogin{
    background-color: rgb(53, 124, 23);
    color: #faf8f8;
    width: 185px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
}
.submitPosition{
    margin-left: 58px;

}
.nameAndLastname{
    margin-left: 20PX;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
}