.nav-c{
    background-color: rgba(168, 220, 203, 0.41);
    color:white;
}
a:hover{
    background-color: #8aa67c;
    border-radius: 10px;
}
.search{
    margin-top: 2px;
    width: 200px;
    background-color: rgb(77, 225, 174);
    border-radius: 10px;
    padding: 2px;
}
.la{
    background-color: rgba(255, 255, 255, 0.39);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
    border: 4px white;
    box-shadow: 4px 4px 4px 4px rgb(181, 189, 179);
}
.t{
    justify-content: center;
    text-align: center;
}
.logout{
    background: transparent;
    border: none;
}
