.nav-c{
    background-color: rgba(168, 220, 203, 0.41);
    color:white;
}
.search{
    margin-top: 2px;
    width: 200px;
    background-color: rgb(77, 225, 174);
    border-radius: 10px;
    padding: 2px;
}
.login{
    width: 200px;
    height: 400px;
    margin-left: 20px;
    background-color: dimgrey;
}
.form{
    background-color: rgba(255, 255, 255, 0.39);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px white;
    box-shadow: 4px 4px 4px 4px rgb(181, 189, 179);
    color: #151111;
}
.btnLogin{
    background-color: rgb(53, 124, 23);
    color: #faf8f8;
    width: 185px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
}
.textField-logIn{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.label-logIn{
    margin-bottom: 10px;
}
.label-logIn-pass{
margin-top: 10px;
}
a:hover{
    background-color: #8aa67c;
    border-radius: 10px;
}
.submitPosition{
margin-left: 58px;

}
.newAccountPosition{
    margin-left: 87px;
}

