<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.BackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackServlet</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>f1</filter-name>
        <filter-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.FilterCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/first</url-pattern>
    </filter-mapping>
</web-app>