<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.BackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackServlet</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.BuyTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>confirmTicketServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmTicketServlet</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowBoughtTicket</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.ShowBoughtTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBoughtTicket</servlet-name>
        <url-pattern>/ShowBoughtTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowDetailBoughtTicket</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.ShowDetailBoughtTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDetailBoughtTicket</servlet-name>
        <url-pattern>/ShowDetailBoughtTicket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cancelServlet</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.CancelTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cancelServlet</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AfterFilter</servlet-name>
        <servlet-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.AfterFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfterFilter</servlet-name>
        <url-pattern>/afterFilter</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>f1</filter-name>
        <filter-class>ir.maktab.mohammad_sedghi_hw23_question1_maktab92.util.FilterCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/afterFilter</url-pattern>
    </filter-mapping>
</web-app>